.topnav a {
    color: #D2C1B0; /*beige*/
    font-size: larger;
    padding-left: 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.topnav {
    width: 100%;
    display: flex;
    padding: 0;
    flex-direction: row;
    font-family: "Times New Roman", Times, serif;
    background-color: #A5060B; /* rood*/
    overflow: hidden;
    min-height: 5vh;
    height: 4em;
    text-align: center;
}

.topnav a:active {
    text-shadow: 2px 2px #ffffff;
}

.Topleft {
    display: flex;
    min-height: 5vh;
    height: 4em;
    min-height: 5vh;
    height: 4em;
    text-align: center;
}

.LogoHoek {
    height: inherit;
    margin: 0;
    object-fit: contain;
    min-height: 5vh;
    height: 4em;
    float: left;
}

.topnav h1 {
    margin: 0;
    margin-left: 5px;
    color: #D2C1B0; /*beige*/
    display: flex;
    float: left;
    text-align: center;
}

.icon {
    display: none;
}

@media screen and (max-width: 1000px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        display: block;
    }

    .topnav.responsive {
        flex-direction: column;
        height: fit-content;
    }

    .topnav.responsive h1{
    }
  
    .topnav.responsive.icon {
            flex-direction: row-reverse;
            display: block;
        }

    .topnav.responsive .Topleft{
        display: block;
        float: left;
    }

    .topnav.responsive .icon {
        align-self: flex-end;
    }
    .topnav.responsive a {
       display: flex;
       height: 2em;
       min-height:0;
       padding: 0;
    }
}

div.a{
    text-align: left;
}

div.b{
text-align: center;
}

h2{
    font-size: 200%; 
    width: 100%;
}

.LionKing{
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 500px;
    float: right;
}

.Image1 {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 500px;
    float: right;
}

.Titanic {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: 500px;
    float: right;
}

.content {
    margin: 0;
    display: flex;
    background-color: #231F20; /* Grijs*/
    font-family: Arial, Helvetica, sans-serif;
    color: #A5060B;
    text-align: left;
}

.row {
    content: "";
    clear: both;
    display: table;
}
.column {
    float: left;
    width: 100%;
    padding: 5px;
}
body{
    margin: 0;
}

.L {
    width: 12.5vw;
    padding: 0;
}

.article{
    min-height: 100em;
    width: 75vw;
    /* display: flex; */
}

.R {
    width: 12.5vw;
}

p {
    color: #969696;
}

footer {
    background-color: #A5060B; 
}

