.topnav a {
    color: #D2C1B0; /*beige*/
    font-size: larger;
    padding-left: 20px;
    text-decoration: none;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.topnav {
    width: 100%;
    /* padding: 0; */
    font-family: "Times New Roman", Times, serif;
    background-color: #A5060B; /* rood*/
    overflow: hidden;
    height: 4em;
    display: flex;
    justify-content: flex-start;
}

    .topnav a:active {
        text-shadow: 2px 2px #ffffff;
    }

.Topleft {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LogoHoek {
    margin-top: auto;
    margin-bottom: auto;
    object-fit: contain;
    float: left;
    height: 4em;
}

.topnav h1 {
    margin-left: 5px;
    color: #D2C1B0; /*beige*/
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.icon {
    display: none;
}

.content {
    margin: 0;
    display: flex;
    background-color: #231F20; /* Grijs*/
    font-family: Arial, Helvetica, sans-serif;
    color: #A5060B;
    min-height: 100vh;
}

body{
    margin: 0;
}

.article {
    margin-left: 12.5vw;
    margin-right: 12.5vw;
}

p {
    color: #969696;
}

footer {
    height: 1.5em;
    background-color: #A5060B;
    font-family: "Times New Roman", Times, serif;
    color: white;
    text-align: center;
}

* {
    box-sizing: border-box;
}

h2 {
    font-size: 3em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #D2C1B0;
}

/*Homepage*/
.row {
    display: flex;
    font-size: 175%;
    justify-content: center;
    margin-top: 30px;
    background: radial-gradient( rgba(255,255,255,1) 0%, rgba(55,55,55,1) 0%, rgba(35,31,32,1) 65%);
}

.TitleTekst{
    max-width: 30%
}

.Image1 {
    object-fit: contain;
    width: 40vw;
    min-width: 600px;
}

@media screen and (max-width: 1650px) {
    .row {
        margin-top: 15px;
        font-size: 150%;
    }

    .Image1 {
        min-width: 500px;
    }

    .TitleTekst {
        max-width: 40%
    }
}

@media screen and (max-width: 1200px) {
    .row {
        margin-top: 10px;
        font-size: 125%;
    }

    .Image1 {
        min-width: 400px;
    }

    .TitleTekst {
        max-width: 45%
    }
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 2em;
    color: #D2C1B0;
    text-align: center;
}

h5 {
    padding: 0px;
    color: white;
    font-size: 2em;
}

p2{
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: auto;
    -webkit-overflow-scrolling: touch;
    width: 90vw;
    white-space: nowrap;

    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

.Poster_image {
    width: 225px;
    height: 340px;
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.poster {
    width: 250px;
    height: 400px;
    background-color: black;
    flex: 0 0 auto;
    margin-left: 20px;
}


.vraag {
    background-color: #000000;
    width: 500px;
    border: 2px solid black;
    margin: 50px;
    padding: 20px;
}

.imagefaq {
    width: 100%;
    height: auto;
}

.inhuren {
    background-color: #A5060B;
    width: 500px;
    border: 2px solid black;
    margin: 50px;
    padding: 20px;
}

p.solid {
    border-style: solid;
    color: white
}


@media screen and (max-width: 1000px) {
    .topnav a {
        display: none;
    }

        .topnav a.icon {
            display: block;
            padding-right: 15px;
        }

    .topnav.responsive {
        flex-direction: column;
        height: fit-content;
        text-align: center;
        display: flex;
    }

        .topnav.responsive h1 {
        }

        .topnav.responsive.icon {
            flex-direction: row-reverse;
            display: block;
        }

        .topnav.responsive .Topleft {
            display: block;
            float: left;
        }

        .topnav.responsive .icon {
            float: right;
            height: 3em;
        }

        .topnav.responsive a {
            display: flex;
            height: 2em;
            min-height: 0;
            padding: 0;
            align-self: center;
        }

    .Image1 {
        display: none;
    }

    .TitleTekst {
        min-width: 90vw;
        width: 90%;
    }

    .row {
        background: none;
    }
}

@media screen and (max-width:500px) {
    .LogoHoek {
       display: none;
    }

    .topnav h1{
        font-size: 7.5vw;
    }
}

.button {
    background-color: #D2C1B0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.vacatures {
    background-color: lightgrey;
}