<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheaterDeKoning</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="topnav" id="myTopnav">
        <div class="TopLeft">
            <img class="LogoHoek" src="/Images/Logo.png" />
            <h1>THEATER DE KONING</h1>
        </div>
            <a href="\">
                Home
            </a>
            <a href="Privacy">
                Calender
            </a>

            <a href="FAQ">
                FAQ
            </a>

            <a href="Contact">
                Contact
            </a>

            <a href="Theater-huren">
                Theater huren
            </a>

            <a href="Vacatures">
                Vacatures
            </a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    <div class="content">
        <div class="L">
        </div>

        <div class="article">
            @RenderBody()
        </div>

        <div class="R">
        </div>
    </div>
    <footer>
        <a href="/">Home</a>
        <a href="/privacy">Privacy</a>
    </footer>
</body>
</html>

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>