<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheaterDeKoning</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <img src="/Images/Logo.png" />
        <h1>THEATER DE KONING</h1>
        <nav>
            <a href="\">
                Home
            </a>
            <a href="Privacy">
                Calender
            </a>

            <a href="FAQ">
                FAQ
            </a>

            <a href="Contact">
                Contact
            </a>

            <a href="Theater-huren">
                THeater huren
            </a>

            <a href="Vacatures">
                Vacatures
            </a>
        </nav>

    </header>
    <div class="content">
        <div class="L">
        </div>

        <div class="article">
            @RenderBody()
        </div>

        <div class="R">

        </div>
    </div>
    <footer>
        <a href="/">Home</a>
        <a href="/privacy">Privacy</a>
    </footer>
</body>
</html>
