@{
    ViewData["Title"] = "FAQ";
}

<h1>@ViewData["Title"]</h1>

<button type="button" class="collapsible"><p>Wat zijn de openingstijden van het theater?</p></button>
<div class="content2">
  <p>                                  
Maandag: 15:00-24:00 
<br/>
Dinsdag: 15:00-24:00 
<br/>
Woensdag: 15:00-24:00
<br/>
Donderdag:15:00-24:00
<br/>
Vrijdag:  15:00-24:00
<br/>
Zaterdag: 12:00-24:00
<br/>
Zondag:   12:00-24:00</p>
<br/>
</div>

<br/> 

<button type="button" class="collapsible"><p>Hoe kan ik het management contacteren?</p></button>
<div class="content2">
<p>
Telefoon: +31 6 43 57 21 02
<br/>
E-mail: TheaterdeKoning@hotmail.com
</p>
</div>

<button type="button" class="collapsible"><p>Wie zijn de makers van deze website?</p></button>
<div class="content2">
<div class = 'vraag'> 
<p>Wij zijn leerlingen uit 5VWO van het Sint-Maartenscollege. 
Voor deze website hebben wij eerst een funrtioneel ontwerp gemaakt om daarna dit ontwerp te verwezenlijken.
Ons doel was een website te ontwerpen voor een theater die iedereen gebruiken kan. 
Wij hopen dit bereikt te hebben en zijn erg benieuwd naar jullie mening. Wij nemen de tips en tops over de website graag in ontvangst (via mail).</p>
<br />
<p>Onzee-mail: TheaterdeKoning@hotmail.com</p>
<img class=Imagefaq src="~/Images/imagefaq.png"width="" height="" />
<img class=Imagefaq src="~/Images/imagefaq2.png"width="" height="" />
</div>
</div>

<button type="button" class="collapsible"><p>Wat iz de geschiedenis van het theater?</p></button>
<div class="content2">
    
</div>

<button type="button" class="collapsible"><p>Wat is de prijs voor kinderen en/of volwassenen?</p></button>
<div class="content2">
    <p>Voor kinderen t/m 12 jaar is toegang gratis.</p>
        <br/> 
    <p>Gehandicapten €2,- goedkoper</p>
</div>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
