@using TheaterDeKoning.DataBase

@model List<Voorstelling>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="TitleTekst">
        <h1 id="MainH">Bij Theater de Koning is het altijd gezellig</h1>
        <p>
            Welkom bij onze theater website. 
            <br />
            Receptie open tussen 15:00 - 24:00
            <br />
            Beatrixstraat 82 2220WA
        </p>
    </div>
    <img class=Image1 src="~/Images/image1.png" alt="Theater" />
</div>

<h4> Opkomende Voorstellingen</h4>
<div class="flex-container" id="yourDiv">
    @foreach (var Voorstelling in Model.Take(14))
    {
    <a href="voorstelling/@Voorstelling.naam_id">
        <div class="poster">
            <img class="Poster_image" src="~/Images/@Voorstelling.Poster" />
            <p>
            @Voorstelling.naam
            <br>
            @Voorstelling.datum  @Voorstelling.Tijdvak
            </p>
        </div>  
    </a>
    }

</div>

<style>
    .article {
        margin: 0;
        margin-right: 0;
    }
</style>

<script>
(function() {
    function scrollHorizontally(e) {
        e = window.event || e;
        var delta = Math.max(-1, Math.min(1, (e.wheelDelta || -e.detail)));
        document.getElementById('yourDiv').scrollLeft -= (delta * 75); // Multiplied by 40
        e.preventDefault();
    }
    if (document.getElementById('yourDiv').addEventListener) {
        // IE9, Chrome, Safari, Opera
        document.getElementById('yourDiv').addEventListener('mousewheel', scrollHorizontally, false);
        // Firefox
        document.getElementById('yourDiv').addEventListener('DOMMouseScroll', scrollHorizontally, false);
    } else {
        // IE 6/7/8
        document.getElementById('yourDiv').attachEvent('onmousewheel', scrollHorizontally);
    }
})();
</script>
