@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="TitleTekst">
        <h2>Bij Theater de Koning is het altijd gezellig</h2>
        <p>
            Welkom bij onze theater website.
            Receptie open tussen:
            15:00 - 24:00
            dinsdag - zondag
            Beatrixstraat 82 2220WA
        </p>
    </div>
    <img class=Image1 src="~/Images/image1.png" alt="Theater" />
</div>

<h4> Opkomende Voorstellingen</h4>
<div class="flex-container">
    <div class="poster">
        <img class="Poster_image" src="~/Images/Lion King image.png" />
        <p2>The Lion King</p2>
    </div>

    <div class="poster">
        <img class="Poster_image" src="~/Images/Titanic image.png" />
    </div>

    <div class="poster">

    </div>

    <div class="poster">

    </div>

    <div class="poster">

    </div>

    <div class="poster">

    </div>

    <div class="poster">

    </div>

    <div class="poster">

    </div>

    <div class="poster">

    </div>

    <div class="poster">

    </div>

    <div class="poster">

    </div>

    <div class="poster">

    </div>

    <div class="poster">

    </div>

    <div class="poster">

    </div>

    <div class="poster">

    </div>

    <div class="poster">

    </div>

    <div class="poster">

    </div>
</div>

<style>
    .article {
        margin: 0;
        margin-right: 0;
    }
</style>