@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="a">
        <h2> Theater de Koning </h2>
    <p> Welkom bij onze theater website. 
        Receptie open tussen:
        15:00 - 24:00
        dinsdag - zondag
        Beatrixstraat 82 2220WA </p>
        </div>
    <div class="column">
        <img class=Image1 src="~/Images/image1.png" alt="Theater" width="500" height="300" />
    </div>
    <div class="b">
        <h2> Opkomende Voorstellingen</h2>
    <div class="column">
        <img class="LionKing" src="~/Images/Lion King image.png" width="300" height="500" />
    </div>
    <div class="column">
        <img class="Titanic" src="~/Images/Titanic image.png" width="300" height="500" />
    </div>
</div>
</div>


