@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="TitleTekst">
        <h2>Bij Theater de Koning is het altijd gezellig</h2>
        <p>
            Welkom bij onze theater website.
            Receptie open tussen:
            15:00 - 24:00
            dinsdag - zondag
            Beatrixstraat 82 2220WA
        </p>
    </div>
    <img class=Image1 src="~/Images/image1.png" alt="Theater"/>
</div>

   <h3> Opkomende Voorstellingen</h3>
<div class="flex-container">
    <div class="column">
        <img class="Poster_image" src="~/Images/Lion King image.png" width="300" height="500" />
    </div>
    <div class="poster">
        <img class="Poster_image" src="~/Images/Titanic image.png" width="300" height="500" />
    </div>
</div>
 