@{
    ViewData["Title"] = "Home Page";
}

<h2>Bij Theater de Koning is het altijd gezellig</h2>
<div class="row">
    <p>
        Welkom bij onze theater website.
        Receptie open tussen:
        15:00 - 24:00
        dinsdag - zondag
        Beatrixstraat 82 2220WA
    </p>
    <img class=Image1 src="~/Images/image1.png" alt="Theater" width="500" height="300" />
</div>

   <h3> Opkomende Voorstellingen</h3>
<div class="flex-container">
    <div class="column">
        <img class="Voorstelling_image" src="~/Images/Lion King image.png" width="300" height="500" />
    </div>
    <div class="poster">
        <img class="Poster_image" src="~/Images/Titanic image.png" width="300" height="500" />
    </div>
</div>
 