@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <h1 class="display-4">Theater de Koning</h1>
    <p>
        Welkom bij onze theater website.
    </p>
    <div class="column">
        <img src="~/Images/image1.png" alt="logo" width="500" height="300" />
    </div>
    <p>
        Receptie open tussen:
        15:00 - 24:00
        dinsdag - zondag
        Beatrixstraat 82 2220WA
    </p>
    <h2 class="a">OpkomendeVoorstellingen</h2>
    <div class="column">
        <img src="~/Images/Lion King image.png" width="300" height="500" />
    </div>
    <div class="column">
        <img src="~/Images/Titanic image.png" width="300" height="500" />
    </div>
</div>


