@{
    ViewData["Title"] = "Theater huren";
}

<h1>@ViewData["Title"]</h1>

<div class = 'inhuren'style="width: 500px; float:left;"> 
<h5>Theaterzaal1 (€1000,-)</h5>
<img class=Imagefaq src="~/Images/inhuren1.png"width="" height="" />
<br /> 
<input type="button" class="button" value="Reserveren">
</div>

<div class = 'inhuren'style="width: 500px; float:left;">
<h5>Theaterzaal2 (€1000,-)</h5>
<img class=Imagefaq src="~/Images/inhuren1.png"width="" height="" />
<br /> 
<input type="button" class="button" value="Reserveren">
</div>

<div class = 'inhuren'style="width: 500px; float:left;">
<h5>Theaterzaal3 (€1000,-)</h5>
<img class=Imagefaq src="~/Images/inhuren1.png"width="" height="" />
<br /> 
<input type="button" class="button" value="Reserveren">
</div>

<div class = 'inhuren'style="width: 500px; float:left;">
<h5>Theaterzaal4 (€1000,-)</h5>)
<img class=Imagefaq src="~/Images/inhuren1.png"width="" height="" />
<br /> 
<input type="button" class="button" value="Reserveren">
</div>