@{
    ViewData["Title"] = "Theater huren";
}

<h1>@ViewData["Title"]</h1>

<div class = 'inhuren'style="width: 500px; float:left;"> 
<p>Theaterzaal1 (€1000,-)</p>
<img class=Imagefaq src="~/Images/inhuren1.png"width="400px" height="150px" />
<br /> 
<input type="button" class="button" value="Reserveren → ">
</div>

<div class = 'inhuren'style="width: 500px; float:left;">
<p>Theaterzaal2 (€1000,-)</p>
<img class=Imagefaq src="~/Images/theaterzaalimage2.jpg"width="400px" height="150px" />
<br /> 
<input type="button" class="button" value="Reserveren → ">
</div>

<div class = 'inhuren'style="width:500px; float:left;">
<p>Theaterzaal3 (€1000,-)</p>
<img class=Imagefaq src="~/Images/theaterzaalimage3.jpg"width="400px" height="150px" />
<br /> 
<input type="button" class="button" value="Reserveren → ">
</div>

<div class = 'inhuren'style="width: 500px; float:left;">
<p>Theaterzaal4 (€1000,-)</p>)
<img class=Imagefaq src="~/Images/theaterinhuren4.jpg"width="400px" height="150px" />
<br /> 
<input type="button" class="button" value="Reserveren → ">
</div>