@{
    ViewData["Title"] = "Theater huren";
}

<h1>@ViewData["Title"]</h1>

<div class = 'inhuren'> 
<h5>Theaterzaal1 (1000,-)</h5>
<img class=Imagefaq src="~/Images/inhuren1.png"width="" height="" />
<p2>Reserveren</p2>
</div>
