@{
    ViewData["Title"] = "Vacatures";
}
<h1>@ViewData["Title"]</h1>

<div class = 'vacature'style="width: 500px; float:left;"> 
<p>Souffleur gezocht</p>
<p2>Locatie: Theater de Koning
    <br />
    Beschrijving van vacature: is in staat het script te volgen tijdens de voorstelling en de acteurs te herinneren aan hun tekst indien zij deze vergeten zijn
    <br />
    Vereiste opleiding(en): geen
</p2>
<br />
<input type="button" class="button1" value="aanmelden → ">
</div>

<div class = 'vacature'style="width: 500px; float:left;"> 
<p>Ober gezocht</p>
<p2>Locatie: Theater de Koning
    <br />
    Beschrijving van vacature: Persoon die bestellingen kan opnemen en onthouden en in staat is het naar de bijbehorende tafels te brengen zonder enige problemen.
    <br />
    Vereiste opleiding(en): geen
</p2>
<br />
<input type="button" class="button1" value="aanmelden → ">
</div>

<div class = 'vacature'style="width: 500px; float:left;"> 
<p>Regisseur gezocht</p>
<p2>Locatie: Theater de Koning
    <br />
    Beschrijving van vacature: Je bent is staat een heel stuk te creeeren en de spelers aan te sturen tot het succesvol opvoeren van het stuk .
    <br />
    Vereiste opleiding(en): Theateropleiding
</p2>
<br />
<input type="button" class="button1" value="aanmelden → ">
</div>

<div class = 'vacature'style="width: 500px; float:left;"> 
<p>Acteur gezocht</p>
<p2>Locatie: Theater de Koning
    <br />
    Beschrijving van vacature: Persoon die in meerdere stukken speelt op toneel en bereidt is vele uren in de voorbereiding van de toneelstukken te steken
    <br />
    Vereiste opleiding(en): Theateropleiding
</p2>
<br />
<input type="button" class="button1" value="aanmelden → ">
</div>