@using TheaterDeKoning.DataBase
@model Voorstelling
@{
    ViewData["Title"] = Model.naam;
}

<div class="detail-black">
<h1>@Model.naam</h1>
<p> @Model.beschrijving</p>
<img class="Detail_poster_image" src="~/Images/@Model.Poster" />
</div>