@using TheaterDeKoning.DataBase
@model Voorstelling
@{
    ViewData["Title"] = Model.naam;
}

<div class="detail-back">

<div>
<h1>@Model.naam</h1>
<p> @Model.beschrijving</p>
</div>

<img class="Detail_poster" src="~/Images/@Model.Poster" />
</div>